@{ ViewData["Title"] = "Sobre"; }

<div class="container text-center">
    <h1 class="titulo">Relatório escolar da rede municipal de Pelotas-RS (2017)</h1>
</div>

<h4>
    Sistema criado para estudo do <a href="https://docs.microsoft.com/pt-br/aspnet/core/?view=aspnetcore-2.0" target="_Blank">ASP Net Core</a> e do banco de dados NoSQL orientado a documento <a href="https://ravendb.net" target="_Blank">RavenDB</a>.
</h4>
<br>
<h4>
    Todas as informações utilizadas no projeto foram disponibilizadas pela prefeitura de Pelotas no estado do Rio Grande do Sul, através do seu <a href="http://www.pelotas.com.br/portal-de-dados" target="_Blank">Portal de Dados Abertos</a>.
</h4>
<br>
<h4>Desenvolvido por Cristiano Raffi Cunha - <a href="mailto:contato@cristianoprogramador.com">contato@@cristianoprogrmador.com</a></h4>