@{
    ViewBag.Title = "Automação Residencial";
}

<div class="jumbotron">
    <h3>Automação residencial - Luminaria</h3>
    <input id="lampada" type="checkbox" data-toggle="toggle" data-onstyle="success"
           data-offstyle="danger" data-on="Ligada" data-off="Desligada"> 
</div>