@media screen and (min-width: 768px){
    .hide-desktop{
        display: none;
    }
}

@media screen and (max-width: 768px){
    .img-apresentacao{
        margin: 2em 0;
    }

    .menu{
        display: none;
    }

    .menu.visible{
        display: block;
    }

    .hamburger{
        color: white;
        font-size: 2em;
        display: inline-block;
        float: right;
    }

    .img-equipe{
        margin-bottom: 3em;
    }
}