﻿@model IEnumerable<Introducao.Models.Categoria>
<!DOCTYPE html>
<html>
<head>
		<title>Categorias - ASP NET MVC</title>
</head>
<body>
		<h2>Categorias - ASP NET MVC</h2>
        <br>
		<div class="container table-responsive">
			<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdCategoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
        </tr>
    
        @foreach (var item in Model)
         {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdCategoria)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
            </tr>
        }   
			</table>
		</div>
</body>
</html>

