<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
		<h1>Cristianoprogramador.com</h1>
		<!-- Nome, Action ,Controller -->
        @Html.ActionLink("Home","Index","Home")
		@Html.ActionLink("Sobre","Sobre","Home")
		
	@RenderBody()
</body>
</html>
